<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Suzuki Way Of Life</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Plugins styles for this template -->
    @*<link href="css/camera.css" rel="stylesheet">*@

    <!-- Custom styles for this template -->
    @*<link href="css/style.css" rel="stylesheet">*@


</head>

<body>
    <!-- Slider Start -->
    <div class="row">
        <div class="camera_wrap camera_emboss camera_azure_skin" id="camera_wrap_3" style="display: block; height: 100%; margin-bottom: 0px;">
            <div data-thumb="/images/635428371570878983.png" data-src="/images/635428371570878983.png"></div>
                             
            <div data-thumb="/images/635427722063066254.png" data-src="/images/635427722063066254.png"></div>
                             
            <div data-thumb="/images/635427722313914694.png" data-src="/images/635427722313914694.png"></div>
        </div><!-- #camera_wrap_3 -->
    </div>
    <!-- Slider End -->


    <h1 style="color:red;border:solid black; margin-top:15px;">
        This is Qaiser From Danat
    </h1>
    <!-- Product Start-->
    <div id="product" class="row">
        <div class="heading col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1>Products</h1>
        </div>
    </div>

    <div class="row product-inner">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <a href="#" class="product-img"><img src="~/images/car.png"></a>
            <a href="#" class="product-btn"><span>Automobiles</span></a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <a href="#" class="product-img"><img src="~/images/heavy-bike.png"></a>
            <a href="#" class="product-btn"><span>Heavy Bikes</span></a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <a href="#" class="product-img"><img src="~/images/bike.png"></a>
            <a href="#" class="product-btn"><span>Motorcycles</span></a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <a href="#" class="product-img"><img src="~/images/engine.png"></a>
            <a href="#" class="product-btn"><span>Outboards</span></a>
        </div>
    </div>
    <!-- Product End-->
    <!-- Corporate Start-->
    <div id="corporate" class="row">
        <div class="heading col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1>Corporate</h1>
        </div>
    </div>

    <div class="row corporate-inner">
        <div class="corporate-box col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="corporate-box-inner">
                <div class="corporate-box-imga1">
                    <img src="~/images/info.png"><br>
                    <span>Corporate Information</span><br>
                </div>
                <div class="corporate-box-imga2">
                    <img src="~/images/info.png"><br>
                    <span>Corporate Information</span><br>
                </div>
            </div>
        </div>

        <div class="corporate-box col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="corporate-box-inner">
                <div class="corporate-box-imgb1">
                    <img src="~/images/vision.png"><br>
                    <span>Vision & Mission</span><br>
                </div>
                <div class="corporate-box-imgb2">
                    <img src="~/images/vision.png"><br>
                    <span>Vision & Mission</span><br>
                </div>
            </div>
        </div>

        <div class="corporate-box col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="corporate-box-inner">
                <div class="corporate-box-imga1">
                    <img src="~/images/management.png"><br>
                    <span>Management</span><br>
                </div>
                <div class="corporate-box-imga2">
                    <img src="~/images/management.png"><br>
                    <span>Management</span><br>
                </div>
            </div>
        </div>

        <div class="corporate-box col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="corporate-box-inner">
                <div class="corporate-box-imgb1">
                    <img src="~/images/vision.png"><br>
                    <span>Integrated Management Policy</span><br>
                </div>
                <div class="corporate-box-imgb2">
                    <img src="~/images/vision.png"><br>
                    <span>Integrated Management Policy</span><br>
                </div>
            </div>
        </div>

        <div class="corporate-box col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="corporate-box-inner">
                <div class="corporate-box-imgb1">
                    <img src="~/images/flag.png"><br>
                    <span>Milestones</span><br>
                </div>
                <div class="corporate-box-imgb2">
                    <img src="~/images/flag.png"><br>
                    <span>Milestones</span><br>
                </div>
            </div>
        </div>

        <div class="corporate-box col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="corporate-box-inner">
                <div class="corporate-box-imga1">
                    <img src="~/images/info.png"><br>
                    <span>Financial Reports</span><br>
                </div>
                <div class="corporate-box-imga2">
                    <img src="~/images/info.png"><br>
                    <span>Financial Reports</span><br>
                </div>
            </div>
        </div>

        <div class="corporate-box col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="corporate-box-inner">
                <div class="corporate-box-imgb1">
                    <img src="~/images/corporate.png"><br>
                    <span>Corporate Social Responsibility</span><br>
                </div>
                <div class="corporate-box-imgb2">
                    <img src="~/images/corporate.png"><br>
                    <span>Corporate Social Responsibility</span><br>
                </div>
            </div>
        </div>

        <div class="corporate-box col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="corporate-box-inner">
                <div class="corporate-box-imga1">
                    <img src="~/images/media.png"><br>
                    <span>Media Centre</span><br>
                </div>
                <div class="corporate-box-imga2">
                    <img src="~/images/media.png"><br>
                    <span>Media Centre</span><br>
                </div>
            </div>
        </div>
    </div>



    </div>
    <!-- Corporate End-->
    <!-- Value For Money Start-->
    <div id="value" class="row">
        <div class="heading col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1>Value For Money</h1>
        </div>
    </div>

    <div class="row value-inner">
        <div class="value-inner-box col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#"><img src="~/images/customer-servies.png"></a>
        </div>

        <div class="value-inner-box col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#"><img src="~/images/exchange.png"></a>
        </div>

        <div class="value-inner-box col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#"><img src="~/images/certified.png"></a>
        </div>

        <div class="value-inner-box col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#"><img src="~/images/extended.png"></a>
        </div>

        <div class="value-inner-box col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#"><img src="~/images/sgo.png"></a>
        </div>

        <div class="value-inner-box col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <a href="#"><img src="~/images/sga.png"></a>
        </div>
    </div>
    <!-- Value For Money End-->
    <!-- Dealership locator Start -->
    <div id="dealership" class="row">
        <div class="heading col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1>Dealership Locator</h1>
        </div>
    </div>

    <div class="row dealership-inner">
        <div class="dealership-inner-box col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="category" style="display: block;">
                <h1>Select your category</h1>
                <ul id="ul_rbl"><li><div class="amPmCheckbox"><input type="radio" name="rad" onclick="display_type(this.value);" id="automobiles" value="6"><label for="automobiles">Automobiles</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="rad" onclick="display_type(this.value);" id="heavy bikes" value="7"><label for="heavy bikes">Heavy Bikes</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="rad" onclick="display_type(this.value);" id="motorcycles" value="8"><label for="motorcycles">Motorcycles</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="rad" onclick="display_type(this.value);" id="outboards" value="9"><label for="outboards">Outboards</label></div></li></ul>


            </div>
            <div class="city" style="display: none;">
                <p></p>
                <h1>Select your City <a id="city_back" class="back" style="cursor:pointer">Back</a></h1>
                <div class="cities scroll-pane jspScrollable" tabindex="0" style="overflow: hidden; padding: 0px; width: 391px;">
                    <div class="jspContainer" style="width: 391px; height: 220px;"><div class="jspPane" style="padding: 0px; top: 0px; width: 371px;"><ul id="ul_cities"><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(49,7,1);setLatLong(24.861462 ,67.009939);bind_(49,7,1);" id="radio49" value="49-7"><label for="radio49">Karachi </label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(50,7,1);setLatLong(31.554606,74.357158);bind_(50,7,1);" id="radio50" value="50-7"><label for="radio50">Lahore</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(77,7,1);setLatLong(34.168750 ,73.221498);bind_(77,7,1);" id="radio77" value="77-7"><label for="radio77">Abbottabad</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(78,7,1);setLatLong(33.768734 ,72.362147);bind_(78,7,1);" id="radio78" value="78-7"><label for="radio78">Attock</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(79,7,1);setLatLong(29.395722 ,71.683333);bind_(79,7,1);" id="radio79" value="79-7"><label for="radio79">Bahawalpur</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(80,7,1);setLatLong(32.930278,72.855556);bind_(80,7,1);" id="radio80" value="80-7"><label for="radio80">Chakwal</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(81,7,1);setLatLong(31.816667,70.916667);bind_(81,7,1);" id="radio81" value="81-7"><label for="radio81">D.I. Khan </label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(82,7,1);setLatLong(30.032486,70.640246);bind_(82,7,1);" id="radio82" value="82-7"><label for="radio82">D.G. Khan</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(83,7,1);setLatLong(31.418714,73.079107);bind_(83,7,1);" id="radio83" value="83-7"><label for="radio83">Faisalabad</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(84,7,1);setLatLong(32.154378,74.184225);bind_(84,7,1);" id="radio84" value="84-7"><label for="radio84">Gujranwala</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(85,7,1);setLatLong(32.571144,74.075005);bind_(85,7,1);" id="radio85" value="85-7"><label for="radio85">Gujrat</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(86,7,1);setLatLong(25.381751,68.36939);bind_(86,7,1);" id="radio86" value="86-7"><label for="radio86">Hyderabad</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(87,7,1);setLatLong(31.260062 ,72.319273);bind_(87,7,1);" id="radio87" value="87-7"><label for="radio87">Jhang</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(88,7,1);setLatLong(32.933333,73.733333);bind_(88,7,1);" id="radio88" value="88-7"><label for="radio88">Jhelum</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(89,7,1);setLatLong(31.116477,74.449374);bind_(89,7,1);" id="radio89" value="89-7"><label for="radio89">Kasur</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(90,7,1);setLatLong(27.563994,68.215131);bind_(90,7,1);" id="radio90" value="90-7"><label for="radio90">Larkana</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(91,7,1);setLatLong(34.200114,72.050801);bind_(91,7,1);" id="radio91" value="91-7"><label for="radio91">Mardan</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(92,7,1);setLatLong(32.583333,71.55);bind_(92,7,1);" id="radio92" value="92-7"><label for="radio92">Mianwali</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(93,7,1);setLatLong(33.147985, 73.75367);bind_(93,7,1);" id="radio93" value="93-7"><label for="radio93">Mirpur</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(94,7,1);setLatLong(25.529105,69.013571);bind_(94,7,1);" id="radio94" value="94-7"><label for="radio94">MIrpur Khas </label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(95,7,1);setLatLong(30.198381,71.468703);bind_(95,7,1);" id="radio95" value="95-7"><label for="radio95">Multan</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(96,7,1);setLatLong(34.359687 ,73.471054);bind_(96,7,1);" id="radio96" value="96-7"><label for="radio96">Muzaffarabad</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(98,7,1);setLatLong(34.014975,71.58049);bind_(98,7,1);" id="radio98" value="98-7"><label for="radio98">Peshawar</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(99,7,1);setLatLong(30.182971, 66.998734);bind_(99,7,1);" id="radio99" value="99-7"><label for="radio99">Quetta</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(100,7,1);setLatLong(28.421156 ,70.298874);bind_(100,7,1);" id="radio100" value="100-7"><label for="radio100">Rahimyarkhan</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(101,7,1);setLatLong(33.598394 ,73.044135);bind_(101,7,1);" id="radio101" value="101-7"><label for="radio101">Rawalpindi</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(102,7,1);setLatLong(30.661181 ,73.108576);bind_(102,7,1);" id="radio102" value="102-7"><label for="radio102">Sahiwal</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(103,7,1);setLatLong(32.083741 ,72.67186);bind_(103,7,1);" id="radio103" value="103-7"><label for="radio103">Sargodha</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(104,7,1);setLatLong(32.492477 ,74.53104);bind_(104,7,1);" id="radio104" value="104-7"><label for="radio104">Sialkot</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(105,7,1);setLatLong(27.706604 ,68.848197);bind_(105,7,1);" id="radio105" value="105-7"><label for="radio105">Sukkur</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(106,7,1);setLatLong(33.736965 ,72.799441);bind_(106,7,1);" id="radio106" value="106-7"><label for="radio106">Taxila</label></div></li><li><div class="amPmCheckbox"><input type="radio" name="mes" onclick="display_dealers(107,7,1);setLatLong(30.045246 ,72.348872);bind_(107,7,1);" id="radio107" value="107-7"><label for="radio107">Vehari</label></div></li></ul></div><div class="jspVerticalBar"><div class="jspCap jspCapTop"></div><a class="jspArrow jspArrowUp jspDisabled"></a><div class="jspTrack" style="height: 188px;"><div class="jspDrag" style="height: 32px;"><div class="jspDragTop"></div><div class="jspDragBottom"></div></div></div><a class="jspArrow jspArrowDown"></a><div class="jspCap jspCapBottom"></div></div></div>
                </div>
            </div>

            <div class="dealerloc" style="display:none;">
                <h1>Select Dealership <a id="type_back" class="back" style="cursor:pointer">Back</a></h1>
                <div id="dealerships">
                    <ul id="ul_types"></ul>
                </div>
            </div>

            <div class="dealership" style="display: none;">
                <p style="display: none;"><h5 class="dinfo">Dealer information</h5><span class="mot">Suzuki Abbottabad Motors</span><br>Pindi Mansehra Road, Silhad Town, Abbottabad. <a href="#">abbott.suzuki@gmail.com</a><span>(0992) 343040, </span></p>
                <div id="mymap" style="overflow: hidden; display: block;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; z-index: 0; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; position: absolute; left: 227px; top: 15px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -29px; top: 15px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 227px; top: -241px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 227px; top: 271px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 483px; top: 15px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -29px; top: -241px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -29px; top: 271px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 483px; top: -241px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 483px; top: 271px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 227px; top: 15px;"><canvas draggable="false" height="256" width="256" style="user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -29px; top: 15px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 227px; top: -241px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 227px; top: 271px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 483px; top: 15px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -29px; top: -241px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -29px; top: 271px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 483px; top: -241px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 483px; top: 271px;"></div></div></div></div><div style="position: absolute; z-index: 0; left: 0px; top: 0px;"><div style="overflow: hidden; width: 675px; height: 443px;"><img src="http://maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&amp;1i5405&amp;2i3057&amp;2e1&amp;3u5&amp;4m2&amp;1u675&amp;2u443&amp;5m5&amp;1e0&amp;5sen-US&amp;6sus&amp;10b1&amp;12b1&amp;token=48379" style="width: 675px; height: 443px;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="position: absolute; left: 483px; top: 15px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i5!2i23!3i12!4i256!2m3!1e0!2sm!3i377064620!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=57096" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -29px; top: -241px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i5!2i21!3i11!4i256!2m3!1e0!2sm!3i377064920!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=102477" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -29px; top: 15px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i5!2i21!3i12!4i256!2m3!1e0!2sm!3i377064920!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=7427" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 227px; top: -241px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i5!2i22!3i11!4i256!2m3!1e0!2sm!3i377064356!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=129850" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 227px; top: 271px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i5!2i22!3i13!4i256!2m3!1e0!2sm!3i377065028!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=123452" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -29px; top: 271px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i5!2i21!3i13!4i256!2m3!1e0!2sm!3i377065028!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=66265" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 227px; top: 15px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i5!2i22!3i12!4i256!2m3!1e0!2sm!3i377064620!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=130980" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 483px; top: -241px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i5!2i23!3i11!4i256!2m3!1e0!2sm!3i377064356!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=55966" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 483px; top: 271px; transition: opacity 200ms ease-out;"><img src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i5!2i23!3i13!4i256!2m3!1e0!2sm!3i377065028!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=49568" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 2; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 3; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 4; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div><iframe frameborder="0" style="z-index: -1; border: 0px none; position: absolute; height: 100%; width: 100%; padding: 0px; margin: 0px; left: 0px; top: 0px;"></iframe></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="https://maps.google.com/maps?ll=33.768734,72.362147&amp;z=5&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/google4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 188px; top: 132px;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data ©2017 Google, Mapa GISrael, ORION-ME, ZENRIN</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 0px; bottom: 0px; width: 12px;"><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Map Data</a><span style="">Map data ©2017 Google, Mapa GISrael, ORION-ME, ZENRIN</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2017 Google, Mapa GISrael, ORION-ME, ZENRIN</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><div style="cursor: pointer; width: 25px; height: 25px; overflow: hidden; display: none; margin: 10px 14px; position: absolute; top: 0px; right: 0px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px; display: none;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/33.768734,72.362147,5z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="28" controlheight="55" style="margin: 10px; user-select: none; position: absolute; bottom: 55px; right: 28px;"><div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 0px;"><div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 28px; height: 55px;"><div title="Zoom in" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></div><div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230); top: 0px;"></div><div title="Zoom out" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: -15px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></div></div></div></div><div class="gmnoprint gm-style-mtc" style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; text-align: left; width: 85px; left: 0px; top: 0px;"><div draggable="false" title="Change map style" style="direction: ltr; overflow: hidden; text-align: left; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; font-weight: 500;">Map<img src="http://maps.gstatic.com/mapfiles/arrow-down.png" draggable="false" style="user-select: none; border: 0px; padding: 0px; margin: -2px 0px 0px; position: absolute; right: 6px; top: 50%; width: 7px; height: 4px;"></div><div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; top: 100%; left: 0px; right: 0px; text-align: left; display: none;"><div draggable="false" title="Show street map" style="color: black; font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px; font-weight: 500;">Map</div><div draggable="false" title="Show satellite imagery" style="color: black; font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px;">Satellite</div><div style="margin: 1px 0px; border-top: 1px solid rgb(235, 235, 235);"></div><div draggable="false" title="Show street map with terrain" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"><img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span><label style="vertical-align: middle; cursor: pointer;">Terrain</label></div><div style="margin: 1px 0px; border-top: 1px solid rgb(235, 235, 235); display: none;"></div><div draggable="false" title="Show imagery with street names" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap; display: none;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"><img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span><label style="vertical-align: middle; cursor: pointer;">Labels</label></div></div></div></div></div></div>
                <h1>Select your Dealer <a id="dealer_back" class="back" style="cursor:pointer">Back</a></h1>
                <div class="alldealers" style="overflow: hidden; padding: 0px; width: 391px;">


                    <div class="jspContainer" style="width: 391px; height: 220px;"><div class="jspPane" style="padding: 0px; top: 0px; left: 0px; width: 391px;"><ul id="ul_dealers"><li><input type="radio" name="dealer" id="radiosuzuki_attock_motors" onclick="show_markers(this.value,spl_ar[8] ,spl_ar[9],8,6,1 );popup1('<h5 class=dinfo>Dealer information</h5><span class=mot>Suzuki Attock Motors</span><br>G.T. Road Kamra Cantt, Attock <a href=#>suzukiattockmotors@hotmail.com</a><span>057-2031244, 057-2031255</span>');" data="<h5 class=dinfo>Dealer information</h5><span class=mot>Suzuki Attock Motors</span><br>G.T. Road Kamra Cantt, Attock <a href=#>suzukiattockmotors@hotmail.com</a><span>057-2031244, 057-2031255</span>" value="suzuki attock motors"><label for="radiosuzuki_attock_motors">Suzuki Attock Motors</label></li></ul></div></div>
                </div>
            </div>
        </div>

        <div class="dealership-inner-box2 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="category">
                <div class="div0"><img src="~/images/map0.png" width="100%"></div>
            </div>
        </div>

    </div>
    <!-- Dealership locator End -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


</body>
</html>
